@import '@fontsource/nunito-sans/400.css';
@import '@fontsource/nunito-sans/700.css';
@import '@fontsource/nunito-sans/300.css';

::backdrop {
	--color-backdrop: rgba(25, 29, 39, 0.7);
}

:root {
	--color-white: #ffffff;
	--color-white-rgb: 255, 255, 255;
	--color-black: #191d27;
	--color-black-rgb: 25, 29, 39;

	--color-green: #1e7f5e;
	--color-blue: #324b8c;
	--color-blue-rgb: 50, 75, 140;
	--color-red: #e21437;
	--color-yellow: #fec705;

	--color-light-grey: #8d8f93;
	--color-dark-grey: #5e6168;
	--color-grey-blue: #545b6c;

	--color-blue-line: #c7d7e9;
	--color-blue-gradient: linear-gradient(90deg, #f1f5f9 0%, #e0e7ef 100%);
	--color-light-blue: #e0e7ef;

	--color-body: var(--color-white);

	--font-sans-serif: 'Nunito Sans', sans-serif;

	--outer-spacing: 1.25rem;
	--max-text-width: 34rem;
	--section-vertical-spacing: 7.5rem;
	--header-height: 3.5rem;
}
